<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src = "https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <h1>v-for test</h1>
        <template v-for="member in members">
            <label><span v-text="member.num"></span></label>
            <input type="text" v-bind:value="member.name">
            <br>
        </template>
        <hr>
        <ul>
            <li v-for="i in 10">
                {{i}} * 5 = {{i * 5}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="book in books">
                I like "{{book}}"
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(value, key, idx) in story">
                {{idx+1}}.{{key}} : {{value}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(story, index) in stories">
                {{index}}. {{story.writer}} : {{story.title}}
            </li>
        </ul>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                books:['햄릿', '콩쥐 팥쥐', '누가 내 치즈를 옮겼을까?'],
                story:{
                    author:'셰익스피어',
                    title:'템페스트',
                    publisher:'그린하우스'
                },
                stories:[
                    {
                        writer:'james lee',
                        title:'good days'
                    },
                    {
                        writer:'james lee',
                        title:'good days'
                    },{
                        writer:'james lee',
                        title:'good days'
                    },{
                        writer:'james lee',
                        title:'good days'
                    }
                ],
                members:[
                    {
                        num:123,
                        name:'kim'
                    },
                    {
                        num:567,
                        name:'min'
                    }

                ]
            }
        })
    </script>
</body>
</html>